<div class="dashbox">
   <table width="100%">
        <tr>
            <td width = "150px"><h2><b>Object Points:</b></h2></td>
            <td width = "100px"><h2><b><%= format_measure('obp') %></b></h2></td>
            <td><h2>(Classes*4 + Methods*3 + Accessors*2)</h2></td>
        </tr>
        <tr>
            <td><h2><b>Conformity:</b></h2></td>
            <td><h2><b><%= format_measure('cof') %></b></h2></td>
            <td><h2>(Blocker*2 + Critical*1.5 + Major + Minor*0.5) / Statements<h2></td>
        </tr>
    </table>
</div>
